app-usage-limit/app-monitoring-cloudlock.json
{
    "name": "App Monitoring & Cloudlock",
    "flow": [
        {
            "id": 2,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 38709,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 1350
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "App Limiter"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTHEADERS__",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "__IMTMETHOD__",
                        "type": "text",
                        "label": "Method"
                    }
                ]
            }
        },
        {
            "id": 41,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "api_limit",
                        "value": "{{var.organization.netsuite_api}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 1350,
                    "name": "Setup API Limit Mapping"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "api_limit",
                        "type": "any",
                        "label": "api_limit"
                    }
                ]
            }
        },
        {
            "id": 38,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 1350
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 18,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "filter": {
                                "name": "model 1",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.model}}",
                                            "b": "1",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 600
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 8,
                                            "module": "make:getAScenario",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 22374
                                            },
                                            "filter": {
                                                "name": "Block ",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{2.status}}",
                                                            "b": "block",
                                                            "o": "text:equal:ci"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "scenario": "{{2.scenario_id}}",
                                                "includeCustomProperties": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1200,
                                                    "y": 450
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "make"
                                                            },
                                                            "label": "new Make connection (akash.paul@integromat.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:make",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "scenario",
                                                        "type": "text",
                                                        "label": "Scenario ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "includeCustomProperties",
                                                        "type": "boolean",
                                                        "label": "Include Custom Properties",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 10,
                                            "module": "builtin:BasicRouter",
                                            "version": 1,
                                            "parameters": {
                                                "else": 1
                                            },
                                            "mapper": null,
                                            "metadata": {
                                                "designer": {
                                                    "x": 1500,
                                                    "y": 450
                                                }
                                            },
                                            "routes": [
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 3,
                                                            "module": "datastore:SearchRecord",
                                                            "version": 1,
                                                            "parameters": {
                                                                "limit": null,
                                                                "datastore": 4284,
                                                                "continueWhenNoRes": true
                                                            },
                                                            "filter": {
                                                                "name": "app_limiter",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{countof(8.usedPackages; 2.app_name)}}",
                                                                            "b": "{{41.api_limit}}",
                                                                            "o": "number:less"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "sort": [],
                                                                "filter": [
                                                                    [
                                                                        {
                                                                            "a": "app_name",
                                                                            "b": "{{2.app_name}}",
                                                                            "o": "text:equal"
                                                                        },
                                                                        {
                                                                            "a": "key_app",
                                                                            "b": "{{2.app_name}}{{formatDate(now; \"DDMMHHm\")}}",
                                                                            "o": "text:equal:ci"
                                                                        }
                                                                    ]
                                                                ],
                                                                "mappAbleLimit": ""
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 1800,
                                                                    "y": 300
                                                                },
                                                                "restore": {
                                                                    "parameters": {
                                                                        "datastore": {
                                                                            "label": "App limiter"
                                                                        }
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "datastore",
                                                                        "type": "datastore",
                                                                        "label": "Data store",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "continueWhenNoRes",
                                                                        "type": "boolean",
                                                                        "label": "Continue the execution of the route even if the module returns no results"
                                                                    },
                                                                    {
                                                                        "name": "limit",
                                                                        "type": "uinteger",
                                                                        "label": "Limit"
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "filter",
                                                                        "type": "filter",
                                                                        "label": "Filter",
                                                                        "options": "rpc://datastore/1.10.14/RpcGetUDTKeys",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "sort",
                                                                        "spec": [
                                                                            {
                                                                                "name": "key",
                                                                                "type": "select",
                                                                                "label": "Key",
                                                                                "dynamic": true,
                                                                                "options": [],
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "order",
                                                                                "type": "select",
                                                                                "label": "Order",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "Ascending",
                                                                                        "value": 1
                                                                                    },
                                                                                    {
                                                                                        "label": "Descending",
                                                                                        "value": -1
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Sort"
                                                                    },
                                                                    {
                                                                        "name": "mappAbleLimit",
                                                                        "type": "uinteger",
                                                                        "label": "Mappable Limit"
                                                                    }
                                                                ],
                                                                "interface": [
                                                                    {
                                                                        "name": "__IMTLENGTH__",
                                                                        "type": "uinteger",
                                                                        "label": "Total number of bundles"
                                                                    },
                                                                    {
                                                                        "name": "__IMTINDEX__",
                                                                        "type": "uinteger",
                                                                        "label": "Bundle order position"
                                                                    },
                                                                    {
                                                                        "name": "key",
                                                                        "type": "text",
                                                                        "label": "Key"
                                                                    },
                                                                    {
                                                                        "name": "data",
                                                                        "spec": [
                                                                            {
                                                                                "name": "app_name",
                                                                                "type": "text",
                                                                                "label": null,
                                                                                "default": null,
                                                                                "required": true,
                                                                                "multiline": false
                                                                            },
                                                                            {
                                                                                "name": "run_limit",
                                                                                "type": "number",
                                                                                "label": null,
                                                                                "default": 15,
                                                                                "required": false
                                                                            },
                                                                            {
                                                                                "name": "current_limit",
                                                                                "type": "number",
                                                                                "label": null,
                                                                                "default": null,
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "key_app",
                                                                                "type": "text",
                                                                                "label": null,
                                                                                "default": null,
                                                                                "required": false,
                                                                                "multiline": false
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Record"
                                                                    }
                                                                ],
                                                                "advanced": true
                                                            }
                                                        },
                                                        {
                                                            "id": 6,
                                                            "module": "builtin:BasicRouter",
                                                            "version": 1,
                                                            "mapper": null,
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2100,
                                                                    "y": 300
                                                                }
                                                            },
                                                            "routes": [
                                                                {
                                                                    "flow": [
                                                                        {
                                                                            "id": 16,
                                                                            "module": "datastore:AddRecord",
                                                                            "version": 1,
                                                                            "parameters": {
                                                                                "datastore": 4284
                                                                            },
                                                                            "filter": {
                                                                                "name": "Not_running",
                                                                                "conditions": [
                                                                                    [
                                                                                        {
                                                                                            "a": "{{3.data.current_limit}}",
                                                                                            "o": "notexist"
                                                                                        }
                                                                                    ]
                                                                                ]
                                                                            },
                                                                            "mapper": {
                                                                                "key": "{{2.app_name}}{{formatDate(now; \"DDMMHHm\")}}",
                                                                                "data": {
                                                                                    "key_app": "{{2.app_name}}{{formatDate(now; \"DDMMHHm\")}}",
                                                                                    "app_name": "{{2.app_name}}",
                                                                                    "run_limit": "{{41.api_limit}}",
                                                                                    "current_limit": "{{sum(countof(8.usedPackages; 2.app_name); 3.data.current_limit)}}"
                                                                                },
                                                                                "overwrite": false
                                                                            },
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 2400,
                                                                                    "y": 0
                                                                                },
                                                                                "restore": {
                                                                                    "expect": {
                                                                                        "overwrite": {
                                                                                            "mode": "chose"
                                                                                        }
                                                                                    },
                                                                                    "parameters": {
                                                                                        "datastore": {
                                                                                            "label": "App limiter"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "parameters": [
                                                                                    {
                                                                                        "name": "datastore",
                                                                                        "type": "datastore",
                                                                                        "label": "Data store",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "expect": [
                                                                                    {
                                                                                        "name": "key",
                                                                                        "type": "text",
                                                                                        "label": "Key"
                                                                                    },
                                                                                    {
                                                                                        "name": "overwrite",
                                                                                        "type": "boolean",
                                                                                        "label": "Overwrite an existing record",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "data",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "app_name",
                                                                                                "type": "text",
                                                                                                "label": null
                                                                                            },
                                                                                            {
                                                                                                "name": "run_limit",
                                                                                                "type": "number",
                                                                                                "label": null
                                                                                            },
                                                                                            {
                                                                                                "name": "current_limit",
                                                                                                "type": "number",
                                                                                                "label": null
                                                                                            },
                                                                                            {
                                                                                                "name": "key_app",
                                                                                                "type": "text",
                                                                                                "label": null
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Record"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        },
                                                                        {
                                                                            "id": 17,
                                                                            "module": "gateway:WebhookRespond",
                                                                            "version": 1,
                                                                            "parameters": {},
                                                                            "mapper": {
                                                                                "body": "{\n  \"App Name\": \"{{2.app_name}}\",\n  \"Current Execution Limit\": \"{{sum(countof(8.usedPackages; 2.app_name); 3.data.current_limit)}}\",\n  \"Key_Min\": \"{{16.key}}\"\n}",
                                                                                "status": "200",
                                                                                "headers": [
                                                                                    {
                                                                                        "key": "Content-Type",
                                                                                        "value": "application/json"
                                                                                    }
                                                                                ]
                                                                            },
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 2700,
                                                                                    "y": 0,
                                                                                    "name": "200 - Success"
                                                                                },
                                                                                "restore": {
                                                                                    "expect": {
                                                                                        "headers": {
                                                                                            "mode": "chose",
                                                                                            "items": [
                                                                                                null
                                                                                            ]
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "expect": [
                                                                                    {
                                                                                        "name": "status",
                                                                                        "type": "uinteger",
                                                                                        "label": "Status",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "min": 100
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "body",
                                                                                        "type": "any",
                                                                                        "label": "Body"
                                                                                    },
                                                                                    {
                                                                                        "name": "headers",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "key",
                                                                                                "type": "text",
                                                                                                "label": "Key",
                                                                                                "required": true,
                                                                                                "validate": {
                                                                                                    "max": 256
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "value",
                                                                                                "type": "text",
                                                                                                "label": "Value",
                                                                                                "required": true,
                                                                                                "validate": {
                                                                                                    "max": 4096
                                                                                                }
                                                                                            }
                                                                                        ],
                                                                                        "type": "array",
                                                                                        "label": "Custom headers",
                                                                                        "validate": {
                                                                                            "maxItems": 16
                                                                                        }
                                                                                    }
                                                                                ],
                                                                                "advanced": true
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "flow": [
                                                                        {
                                                                            "id": 12,
                                                                            "module": "builtin:BasicRouter",
                                                                            "version": 1,
                                                                            "filter": {
                                                                                "name": "Checking API capacity",
                                                                                "conditions": [
                                                                                    [
                                                                                        {
                                                                                            "a": "{{3.data.key_app}}",
                                                                                            "o": "exist"
                                                                                        }
                                                                                    ]
                                                                                ]
                                                                            },
                                                                            "mapper": null,
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 2400,
                                                                                    "y": 450
                                                                                }
                                                                            },
                                                                            "routes": [
                                                                                {
                                                                                    "flow": [
                                                                                        {
                                                                                            "id": 13,
                                                                                            "module": "datastore:AddRecord",
                                                                                            "version": 1,
                                                                                            "parameters": {
                                                                                                "datastore": 4284
                                                                                            },
                                                                                            "filter": {
                                                                                                "name": "Checking API capacity",
                                                                                                "conditions": [
                                                                                                    [
                                                                                                        {
                                                                                                            "a": "{{sum(countof(8.usedPackages; \"util\"); 3.data.current_limit)}}",
                                                                                                            "b": "{{41.api_limit}}",
                                                                                                            "o": "number:lessorequal"
                                                                                                        }
                                                                                                    ]
                                                                                                ]
                                                                                            },
                                                                                            "mapper": {
                                                                                                "key": "{{2.app_name}}{{formatDate(now; \"DDMMHHm\")}}",
                                                                                                "data": {
                                                                                                    "key_app": "{{2.app_name}}{{formatDate(now; \"DDMMHHm\")}}",
                                                                                                    "app_name": "{{2.app_name}}",
                                                                                                    "run_limit": "{{var.organization.netsuite_api}}",
                                                                                                    "current_limit": "{{sum(countof(8.usedPackages; 2.app_name); 3.data.current_limit)}}"
                                                                                                },
                                                                                                "overwrite": true
                                                                                            },
                                                                                            "metadata": {
                                                                                                "designer": {
                                                                                                    "x": 2700,
                                                                                                    "y": 300
                                                                                                },
                                                                                                "restore": {
                                                                                                    "expect": {
                                                                                                        "overwrite": {
                                                                                                            "mode": "chose"
                                                                                                        }
                                                                                                    },
                                                                                                    "parameters": {
                                                                                                        "datastore": {
                                                                                                            "label": "App limiter"
                                                                                                        }
                                                                                                    }
                                                                                                },
                                                                                                "parameters": [
                                                                                                    {
                                                                                                        "name": "datastore",
                                                                                                        "type": "datastore",
                                                                                                        "label": "Data store",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ],
                                                                                                "expect": [
                                                                                                    {
                                                                                                        "name": "key",
                                                                                                        "type": "text",
                                                                                                        "label": "Key"
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "overwrite",
                                                                                                        "type": "boolean",
                                                                                                        "label": "Overwrite an existing record",
                                                                                                        "required": true
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "data",
                                                                                                        "spec": [
                                                                                                            {
                                                                                                                "name": "app_name",
                                                                                                                "type": "text",
                                                                                                                "label": null
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "run_limit",
                                                                                                                "type": "number",
                                                                                                                "label": null
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "current_limit",
                                                                                                                "type": "number",
                                                                                                                "label": null
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "key_app",
                                                                                                                "type": "text",
                                                                                                                "label": null
                                                                                                            }
                                                                                                        ],
                                                                                                        "type": "collection",
                                                                                                        "label": "Record"
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        },
                                                                                        {
                                                                                            "id": 15,
                                                                                            "module": "gateway:WebhookRespond",
                                                                                            "version": 1,
                                                                                            "parameters": {},
                                                                                            "mapper": {
                                                                                                "body": "{\n  \"App Name\": \"{{3.data.app_name}}\",\n  \"Current Execution Limit\": \"{{sum(countof(8.usedPackages; 2.app_name); 3.data.current_limit)}}\",\n  \"Key_Min\": \" {{3.data.key_app}}\"\n}",
                                                                                                "status": "200",
                                                                                                "headers": [
                                                                                                    {
                                                                                                        "key": "Content-Type",
                                                                                                        "value": "application/json"
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            "metadata": {
                                                                                                "designer": {
                                                                                                    "x": 3000,
                                                                                                    "y": 300,
                                                                                                    "name": "200 - Success"
                                                                                                },
                                                                                                "restore": {
                                                                                                    "expect": {
                                                                                                        "headers": {
                                                                                                            "mode": "chose",
                                                                                                            "items": [
                                                                                                                null
                                                                                                            ]
                                                                                                        }
                                                                                                    }
                                                                                                },
                                                                                                "expect": [
                                                                                                    {
                                                                                                        "name": "status",
                                                                                                        "type": "uinteger",
                                                                                                        "label": "Status",
                                                                                                        "required": true,
                                                                                                        "validate": {
                                                                                                            "min": 100
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "body",
                                                                                                        "type": "any",
                                                                                                        "label": "Body"
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "headers",
                                                                                                        "spec": [
                                                                                                            {
                                                                                                                "name": "key",
                                                                                                                "type": "text",
                                                                                                                "label": "Key",
                                                                                                                "required": true,
                                                                                                                "validate": {
                                                                                                                    "max": 256
                                                                                                                }
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "value",
                                                                                                                "type": "text",
                                                                                                                "label": "Value",
                                                                                                                "required": true,
                                                                                                                "validate": {
                                                                                                                    "max": 4096
                                                                                                                }
                                                                                                            }
                                                                                                        ],
                                                                                                        "type": "array",
                                                                                                        "label": "Custom headers",
                                                                                                        "validate": {
                                                                                                            "maxItems": 16
                                                                                                        }
                                                                                                    }
                                                                                                ],
                                                                                                "advanced": true
                                                                                            }
                                                                                        }
                                                                                    ]
                                                                                },
                                                                                {
                                                                                    "flow": [
                                                                                        {
                                                                                            "id": 14,
                                                                                            "module": "gateway:WebhookRespond",
                                                                                            "version": 1,
                                                                                            "parameters": {},
                                                                                            "filter": {
                                                                                                "name": "",
                                                                                                "conditions": [
                                                                                                    [
                                                                                                        {
                                                                                                            "a": "{{sum(countof(8.usedPackages; \"util\"); 3.data.current_limit)}}",
                                                                                                            "b": "{{41.api_limit}}",
                                                                                                            "o": "number:greaterorequal"
                                                                                                        }
                                                                                                    ]
                                                                                                ]
                                                                                            },
                                                                                            "mapper": {
                                                                                                "body": "{\n\"error\": \"Too many moduels than requested module. \",\n\"current_api\": \"{{3.data.current_limit}}\",\n\"app_name\": \"{{3.data.app_name}}\"\n}",
                                                                                                "status": "429",
                                                                                                "headers": []
                                                                                            },
                                                                                            "metadata": {
                                                                                                "designer": {
                                                                                                    "x": 2700,
                                                                                                    "y": 600,
                                                                                                    "name": "Too Many request"
                                                                                                },
                                                                                                "restore": {
                                                                                                    "expect": {
                                                                                                        "headers": {
                                                                                                            "mode": "chose"
                                                                                                        }
                                                                                                    }
                                                                                                },
                                                                                                "expect": [
                                                                                                    {
                                                                                                        "name": "status",
                                                                                                        "type": "uinteger",
                                                                                                        "label": "Status",
                                                                                                        "required": true,
                                                                                                        "validate": {
                                                                                                            "min": 100
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "body",
                                                                                                        "type": "any",
                                                                                                        "label": "Body"
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "headers",
                                                                                                        "spec": [
                                                                                                            {
                                                                                                                "name": "key",
                                                                                                                "type": "text",
                                                                                                                "label": "Key",
                                                                                                                "required": true,
                                                                                                                "validate": {
                                                                                                                    "max": 256
                                                                                                                }
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "value",
                                                                                                                "type": "text",
                                                                                                                "label": "Value",
                                                                                                                "required": true,
                                                                                                                "validate": {
                                                                                                                    "max": 4096
                                                                                                                }
                                                                                                            }
                                                                                                        ],
                                                                                                        "type": "array",
                                                                                                        "label": "Custom headers",
                                                                                                        "validate": {
                                                                                                            "maxItems": 16
                                                                                                        }
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        }
                                                                                    ]
                                                                                }
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 11,
                                                            "module": "gateway:WebhookRespond",
                                                            "version": 1,
                                                            "parameters": {},
                                                            "mapper": {
                                                                "body": "{\n\"error\": \"Too many moduels than allowed API limit, this scenario can not complete without any error. \",\n\"api_limit\": \"{{var.organization.netsuite_api}}\",\n\"app_name\": \"{{2.app_name}}\"\n}",
                                                                "status": "429",
                                                                "headers": []
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 1800,
                                                                    "y": 900,
                                                                    "name": "Too Many Request"
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "headers": {
                                                                            "mode": "chose"
                                                                        }
                                                                    }
                                                                },
                                                                "expect": [
                                                                    {
                                                                        "name": "status",
                                                                        "type": "uinteger",
                                                                        "label": "Status",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "min": 100
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "body",
                                                                        "type": "any",
                                                                        "label": "Body"
                                                                    },
                                                                    {
                                                                        "name": "headers",
                                                                        "spec": [
                                                                            {
                                                                                "name": "key",
                                                                                "type": "text",
                                                                                "label": "Key",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 256
                                                                                }
                                                                            },
                                                                            {
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 4096
                                                                                }
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Custom headers",
                                                                        "validate": {
                                                                            "maxItems": 16
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 19,
                                            "module": "datastore:SearchRecord",
                                            "version": 1,
                                            "parameters": {
                                                "limit": null,
                                                "datastore": 4284,
                                                "continueWhenNoRes": false
                                            },
                                            "filter": {
                                                "name": "Unblock",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{2.status}}",
                                                            "b": "unblock",
                                                            "o": "text:equal:ci"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "sort": [],
                                                "filter": [
                                                    [
                                                        {
                                                            "a": "key_app",
                                                            "b": "{{2.key_min}}",
                                                            "o": "number:equal"
                                                        }
                                                    ]
                                                ],
                                                "mappAbleLimit": ""
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1200,
                                                    "y": 1200
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "datastore": {
                                                            "label": "App limiter"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "datastore",
                                                        "type": "datastore",
                                                        "label": "Data store",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "continueWhenNoRes",
                                                        "type": "boolean",
                                                        "label": "Continue the execution of the route even if the module returns no results"
                                                    },
                                                    {
                                                        "name": "limit",
                                                        "type": "uinteger",
                                                        "label": "Limit"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "filter",
                                                        "type": "filter",
                                                        "label": "Filter",
                                                        "options": "rpc://datastore/1.10.14/RpcGetUDTKeys",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "sort",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "select",
                                                                "label": "Key",
                                                                "dynamic": true,
                                                                "options": [],
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "order",
                                                                "type": "select",
                                                                "label": "Order",
                                                                "options": [
                                                                    {
                                                                        "label": "Ascending",
                                                                        "value": 1
                                                                    },
                                                                    {
                                                                        "label": "Descending",
                                                                        "value": -1
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Sort"
                                                    },
                                                    {
                                                        "name": "mappAbleLimit",
                                                        "type": "uinteger",
                                                        "label": "Mappable Limit"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "__IMTLENGTH__",
                                                        "type": "uinteger",
                                                        "label": "Total number of bundles"
                                                    },
                                                    {
                                                        "name": "__IMTINDEX__",
                                                        "type": "uinteger",
                                                        "label": "Bundle order position"
                                                    },
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key"
                                                    },
                                                    {
                                                        "name": "data",
                                                        "spec": [
                                                            {
                                                                "name": "app_name",
                                                                "type": "text",
                                                                "label": null,
                                                                "default": null,
                                                                "required": true,
                                                                "multiline": false
                                                            },
                                                            {
                                                                "name": "run_limit",
                                                                "type": "number",
                                                                "label": null,
                                                                "default": 15,
                                                                "required": false
                                                            },
                                                            {
                                                                "name": "current_limit",
                                                                "type": "number",
                                                                "label": null,
                                                                "default": null,
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "key_app",
                                                                "type": "number",
                                                                "label": null,
                                                                "default": null,
                                                                "required": false
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 21,
                                            "module": "make:getAScenario",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 22374
                                            },
                                            "mapper": {
                                                "scenario": "{{2.scenario_id}}",
                                                "includeCustomProperties": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1500,
                                                    "y": 1200
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "make"
                                                            },
                                                            "label": "new Make connection (akash.paul@integromat.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:make",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "scenario",
                                                        "type": "text",
                                                        "label": "Scenario ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "includeCustomProperties",
                                                        "type": "boolean",
                                                        "label": "Include Custom Properties",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 20,
                                            "module": "datastore:UpdateRecord",
                                            "version": 1,
                                            "parameters": {
                                                "datastore": 4284
                                            },
                                            "mapper": {
                                                "key": "{{19.key}}",
                                                "data": {
                                                    "key_app": "",
                                                    "app_name": "",
                                                    "run_limit": "",
                                                    "current_limit": "{{19.data.current_limit - countof(21.usedPackages; \"util\")}}"
                                                },
                                                "upsert": false,
                                                "overwriteArrays": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 1200
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "upsert": {
                                                            "mode": "chose"
                                                        },
                                                        "overwriteArrays": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "datastore": {
                                                            "label": "App limiter"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "datastore",
                                                        "type": "datastore",
                                                        "label": "Data store",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "upsert",
                                                        "type": "boolean",
                                                        "label": "Insert missing record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "overwriteArrays",
                                                        "type": "boolean",
                                                        "label": "Overwrite an existing array in the record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "data",
                                                        "spec": [
                                                            {
                                                                "name": "app_name",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "run_limit",
                                                                "type": "number",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "current_limit",
                                                                "type": "number",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "key_app",
                                                                "type": "text",
                                                                "label": null
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 23,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "filter": {
                                "name": "Model",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.model}}",
                                            "b": "2",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 2100
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 24,
                                            "module": "make:getAScenario",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 22374
                                            },
                                            "filter": {
                                                "name": "Block ",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{2.status}}",
                                                            "b": "block",
                                                            "o": "text:equal:ci"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "scenario": "{{2.scenario_id}}",
                                                "includeCustomProperties": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1200,
                                                    "y": 1950
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "make"
                                                            },
                                                            "label": "new Make connection (akash.paul@integromat.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:make",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "scenario",
                                                        "type": "text",
                                                        "label": "Scenario ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "includeCustomProperties",
                                                        "type": "boolean",
                                                        "label": "Include Custom Properties",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 25,
                                            "module": "builtin:BasicRouter",
                                            "version": 1,
                                            "parameters": {
                                                "else": 1
                                            },
                                            "mapper": null,
                                            "metadata": {
                                                "designer": {
                                                    "x": 1500,
                                                    "y": 1950
                                                }
                                            },
                                            "routes": [
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 26,
                                                            "module": "datastore:SearchRecord",
                                                            "version": 1,
                                                            "parameters": {
                                                                "limit": null,
                                                                "datastore": 4290,
                                                                "continueWhenNoRes": true
                                                            },
                                                            "filter": {
                                                                "name": "app_limiter",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{countof(24.usedPackages; \"util\")}}",
                                                                            "b": "{{41.api_limit}}",
                                                                            "o": "number:less"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "sort": [],
                                                                "filter": [
                                                                    [
                                                                        {
                                                                            "a": "app_name",
                                                                            "b": "{{2.app_name}}",
                                                                            "o": "text:equal"
                                                                        },
                                                                        {
                                                                            "a": "status",
                                                                            "b": "{{2.status}}",
                                                                            "o": "text:equal"
                                                                        }
                                                                    ]
                                                                ],
                                                                "mappAbleLimit": ""
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 1800,
                                                                    "y": 1800
                                                                },
                                                                "restore": {
                                                                    "parameters": {
                                                                        "datastore": {
                                                                            "label": "App Limiter Model 2 "
                                                                        }
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "datastore",
                                                                        "type": "datastore",
                                                                        "label": "Data store",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "continueWhenNoRes",
                                                                        "type": "boolean",
                                                                        "label": "Continue the execution of the route even if the module returns no results"
                                                                    },
                                                                    {
                                                                        "name": "limit",
                                                                        "type": "uinteger",
                                                                        "label": "Limit"
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "filter",
                                                                        "type": "filter",
                                                                        "label": "Filter",
                                                                        "options": "rpc://datastore/1.10.14/RpcGetUDTKeys",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "sort",
                                                                        "spec": [
                                                                            {
                                                                                "name": "key",
                                                                                "type": "select",
                                                                                "label": "Key",
                                                                                "dynamic": true,
                                                                                "options": [],
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "order",
                                                                                "type": "select",
                                                                                "label": "Order",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "Ascending",
                                                                                        "value": 1
                                                                                    },
                                                                                    {
                                                                                        "label": "Descending",
                                                                                        "value": -1
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Sort"
                                                                    },
                                                                    {
                                                                        "name": "mappAbleLimit",
                                                                        "type": "uinteger",
                                                                        "label": "Mappable Limit"
                                                                    }
                                                                ],
                                                                "interface": [
                                                                    {
                                                                        "name": "__IMTLENGTH__",
                                                                        "type": "uinteger",
                                                                        "label": "Total number of bundles"
                                                                    },
                                                                    {
                                                                        "name": "__IMTINDEX__",
                                                                        "type": "uinteger",
                                                                        "label": "Bundle order position"
                                                                    },
                                                                    {
                                                                        "name": "key",
                                                                        "type": "text",
                                                                        "label": "Key"
                                                                    },
                                                                    {
                                                                        "name": "data",
                                                                        "spec": [
                                                                            {
                                                                                "name": "scenario_id",
                                                                                "type": "number",
                                                                                "label": null,
                                                                                "default": null,
                                                                                "required": false
                                                                            },
                                                                            {
                                                                                "name": "status",
                                                                                "type": "text",
                                                                                "label": null,
                                                                                "default": null,
                                                                                "required": false,
                                                                                "multiline": false
                                                                            },
                                                                            {
                                                                                "name": "app_name",
                                                                                "type": "text",
                                                                                "label": null,
                                                                                "default": null,
                                                                                "required": false,
                                                                                "multiline": false
                                                                            },
                                                                            {
                                                                                "name": "app_count",
                                                                                "type": "number",
                                                                                "label": null,
                                                                                "default": null,
                                                                                "required": false
                                                                            },
                                                                            {
                                                                                "name": "timestamp",
                                                                                "type": "number",
                                                                                "label": null,
                                                                                "default": null,
                                                                                "required": false
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Record"
                                                                    }
                                                                ],
                                                                "advanced": true
                                                            }
                                                        },
                                                        {
                                                            "id": 40,
                                                            "module": "util:FunctionAggregator2",
                                                            "version": 1,
                                                            "parameters": {
                                                                "fn": "sum",
                                                                "feeder": 26
                                                            },
                                                            "mapper": {
                                                                "value": "{{26.data.app_count}}"
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2100,
                                                                    "y": 1800
                                                                },
                                                                "restore": {
                                                                    "extra": {
                                                                        "feeder": {
                                                                            "label": "Data store - Search records [26]"
                                                                        }
                                                                    },
                                                                    "parameters": {
                                                                        "fn": {
                                                                            "label": "SUM"
                                                                        }
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "fn",
                                                                        "type": "select",
                                                                        "label": "Aggregate function",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "enum": [
                                                                                "avg",
                                                                                "sum",
                                                                                "count",
                                                                                "max",
                                                                                "min"
                                                                            ]
                                                                        }
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "number",
                                                                        "label": "Value"
                                                                    }
                                                                ],
                                                                "advanced": true
                                                            }
                                                        },
                                                        {
                                                            "id": 27,
                                                            "module": "builtin:BasicRouter",
                                                            "version": 1,
                                                            "mapper": null,
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2400,
                                                                    "y": 1800
                                                                }
                                                            },
                                                            "routes": [
                                                                {
                                                                    "flow": [
                                                                        {
                                                                            "id": 28,
                                                                            "module": "datastore:AddRecord",
                                                                            "version": 1,
                                                                            "parameters": {
                                                                                "datastore": 4290
                                                                            },
                                                                            "filter": {
                                                                                "name": "Not_running",
                                                                                "conditions": [
                                                                                    [
                                                                                        {
                                                                                            "a": "{{40.result}}",
                                                                                            "b": "0",
                                                                                            "o": "number:equal"
                                                                                        }
                                                                                    ]
                                                                                ]
                                                                            },
                                                                            "mapper": {
                                                                                "key": "{{2.scenario_id}}{{2.executionid}}",
                                                                                "data": {
                                                                                    "status": "block",
                                                                                    "app_name": "{{2.app_name}}",
                                                                                    "app_count": "{{sum(countof(24.usedPackages; 2.app_name); 40.result)}}",
                                                                                    "timestamp": "{{2.timestamp}}",
                                                                                    "scenario_id": "{{2.scenario_id}}"
                                                                                },
                                                                                "overwrite": false
                                                                            },
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 2700,
                                                                                    "y": 1500
                                                                                },
                                                                                "restore": {
                                                                                    "expect": {
                                                                                        "overwrite": {
                                                                                            "mode": "chose"
                                                                                        }
                                                                                    },
                                                                                    "parameters": {
                                                                                        "datastore": {
                                                                                            "label": "App Limiter Model 2 "
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "parameters": [
                                                                                    {
                                                                                        "name": "datastore",
                                                                                        "type": "datastore",
                                                                                        "label": "Data store",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "expect": [
                                                                                    {
                                                                                        "name": "key",
                                                                                        "type": "text",
                                                                                        "label": "Key"
                                                                                    },
                                                                                    {
                                                                                        "name": "overwrite",
                                                                                        "type": "boolean",
                                                                                        "label": "Overwrite an existing record",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "data",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "scenario_id",
                                                                                                "type": "number",
                                                                                                "label": null
                                                                                            },
                                                                                            {
                                                                                                "name": "status",
                                                                                                "type": "text",
                                                                                                "label": null
                                                                                            },
                                                                                            {
                                                                                                "name": "app_name",
                                                                                                "type": "text",
                                                                                                "label": null
                                                                                            },
                                                                                            {
                                                                                                "name": "app_count",
                                                                                                "type": "number",
                                                                                                "label": null
                                                                                            },
                                                                                            {
                                                                                                "name": "timestamp",
                                                                                                "type": "number",
                                                                                                "label": null
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Record"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        },
                                                                        {
                                                                            "id": 29,
                                                                            "module": "gateway:WebhookRespond",
                                                                            "version": 1,
                                                                            "parameters": {},
                                                                            "mapper": {
                                                                                "body": "{\n  \"App Name\": \"{{2.app_name}}\",\n  \"Current Execution Limit\": \"{{sum(countof(24.usedPackages; 2.app_name); 40.result)}}\",\n  \"Key_Min\": \"{{28.key}}\"\n}",
                                                                                "status": "200",
                                                                                "headers": [
                                                                                    {
                                                                                        "key": "Content-Type",
                                                                                        "value": "application/json"
                                                                                    }
                                                                                ]
                                                                            },
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 3000,
                                                                                    "y": 1500,
                                                                                    "name": "200 - Success"
                                                                                },
                                                                                "restore": {
                                                                                    "expect": {
                                                                                        "headers": {
                                                                                            "mode": "chose",
                                                                                            "items": [
                                                                                                null
                                                                                            ]
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "expect": [
                                                                                    {
                                                                                        "name": "status",
                                                                                        "type": "uinteger",
                                                                                        "label": "Status",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "min": 100
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "name": "body",
                                                                                        "type": "any",
                                                                                        "label": "Body"
                                                                                    },
                                                                                    {
                                                                                        "name": "headers",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "key",
                                                                                                "type": "text",
                                                                                                "label": "Key",
                                                                                                "required": true,
                                                                                                "validate": {
                                                                                                    "max": 256
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "name": "value",
                                                                                                "type": "text",
                                                                                                "label": "Value",
                                                                                                "required": true,
                                                                                                "validate": {
                                                                                                    "max": 4096
                                                                                                }
                                                                                            }
                                                                                        ],
                                                                                        "type": "array",
                                                                                        "label": "Custom headers",
                                                                                        "validate": {
                                                                                            "maxItems": 16
                                                                                        }
                                                                                    }
                                                                                ],
                                                                                "advanced": true
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "flow": [
                                                                        {
                                                                            "id": 30,
                                                                            "module": "builtin:BasicRouter",
                                                                            "version": 1,
                                                                            "filter": {
                                                                                "name": "Checking API capacity",
                                                                                "conditions": [
                                                                                    [
                                                                                        {
                                                                                            "a": "{{40.result}}",
                                                                                            "b": "0",
                                                                                            "o": "number:greater"
                                                                                        }
                                                                                    ]
                                                                                ]
                                                                            },
                                                                            "mapper": null,
                                                                            "metadata": {
                                                                                "designer": {
                                                                                    "x": 2700,
                                                                                    "y": 1950
                                                                                }
                                                                            },
                                                                            "routes": [
                                                                                {
                                                                                    "flow": [
                                                                                        {
                                                                                            "id": 31,
                                                                                            "module": "datastore:AddRecord",
                                                                                            "version": 1,
                                                                                            "parameters": {
                                                                                                "datastore": 4290
                                                                                            },
                                                                                            "filter": {
                                                                                                "name": "Checking API capacity",
                                                                                                "conditions": [
                                                                                                    [
                                                                                                        {
                                                                                                            "a": "{{sum(countof(24.usedPackages; \"util\"); 40.result)}}",
                                                                                                            "b": "{{41.api_limit}}",
                                                                                                            "o": "number:lessorequal"
                                                                                                        }
                                                                                                    ]
                                                                                                ]
                                                                                            },
                                                                                            "mapper": {
                                                                                                "key": "{{2.scenario_id}}{{2.executionid}}",
                                                                                                "data": {
                                                                                                    "status": "block",
                                                                                                    "app_name": "{{2.app_name}}",
                                                                                                    "app_count": "{{sum(countof(24.usedPackages; 2.app_name); 40.result)}}",
                                                                                                    "timestamp": "{{2.timestamp}}",
                                                                                                    "scenario_id": "{{2.scenario_id}}"
                                                                                                },
                                                                                                "overwrite": false
                                                                                            },
                                                                                            "metadata": {
                                                                                                "designer": {
                                                                                                    "x": 3000,
                                                                                                    "y": 1800
                                                                                                },
                                                                                                "restore": {
                                                                                                    "expect": {
                                                                                                        "overwrite": {
                                                                                                            "mode": "chose"
                                                                                                        }
                                                                                                    },
                                                                                                    "parameters": {
                                                                                                        "datastore": {
                                                                                                            "label": "App Limiter Model 2 "
                                                                                                        }
                                                                                                    }
                                                                                                },
                                                                                                "parameters": [
                                                                                                    {
                                                                                                        "name": "datastore",
                                                                                                        "type": "datastore",
                                                                                                        "label": "Data store",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ],
                                                                                                "expect": [
                                                                                                    {
                                                                                                        "name": "key",
                                                                                                        "type": "text",
                                                                                                        "label": "Key"
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "overwrite",
                                                                                                        "type": "boolean",
                                                                                                        "label": "Overwrite an existing record",
                                                                                                        "required": true
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "data",
                                                                                                        "spec": [
                                                                                                            {
                                                                                                                "name": "scenario_id",
                                                                                                                "type": "number",
                                                                                                                "label": null
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "status",
                                                                                                                "type": "text",
                                                                                                                "label": null
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "app_name",
                                                                                                                "type": "text",
                                                                                                                "label": null
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "app_count",
                                                                                                                "type": "number",
                                                                                                                "label": null
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "timestamp",
                                                                                                                "type": "number",
                                                                                                                "label": null
                                                                                                            }
                                                                                                        ],
                                                                                                        "type": "collection",
                                                                                                        "label": "Record"
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        },
                                                                                        {
                                                                                            "id": 32,
                                                                                            "module": "gateway:WebhookRespond",
                                                                                            "version": 1,
                                                                                            "parameters": {},
                                                                                            "mapper": {
                                                                                                "body": "{\n  \"App Name\": \"{{2.app_name}}\",\n  \"Current Execution Limit\": \"{{sum(countof(24.usedPackages; 2.app_name); 40.result)}}\",\n  \"Key_Min\": \"{{31.key}}\"\n}",
                                                                                                "status": "200",
                                                                                                "headers": [
                                                                                                    {
                                                                                                        "key": "Content-Type",
                                                                                                        "value": "application/json"
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            "metadata": {
                                                                                                "designer": {
                                                                                                    "x": 3300,
                                                                                                    "y": 1800,
                                                                                                    "name": "200 - Success"
                                                                                                },
                                                                                                "restore": {
                                                                                                    "expect": {
                                                                                                        "headers": {
                                                                                                            "mode": "chose",
                                                                                                            "items": [
                                                                                                                null
                                                                                                            ]
                                                                                                        }
                                                                                                    }
                                                                                                },
                                                                                                "expect": [
                                                                                                    {
                                                                                                        "name": "status",
                                                                                                        "type": "uinteger",
                                                                                                        "label": "Status",
                                                                                                        "required": true,
                                                                                                        "validate": {
                                                                                                            "min": 100
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "body",
                                                                                                        "type": "any",
                                                                                                        "label": "Body"
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "headers",
                                                                                                        "spec": [
                                                                                                            {
                                                                                                                "name": "key",
                                                                                                                "type": "text",
                                                                                                                "label": "Key",
                                                                                                                "required": true,
                                                                                                                "validate": {
                                                                                                                    "max": 256
                                                                                                                }
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "value",
                                                                                                                "type": "text",
                                                                                                                "label": "Value",
                                                                                                                "required": true,
                                                                                                                "validate": {
                                                                                                                    "max": 4096
                                                                                                                }
                                                                                                            }
                                                                                                        ],
                                                                                                        "type": "array",
                                                                                                        "label": "Custom headers",
                                                                                                        "validate": {
                                                                                                            "maxItems": 16
                                                                                                        }
                                                                                                    }
                                                                                                ],
                                                                                                "advanced": true
                                                                                            }
                                                                                        }
                                                                                    ]
                                                                                },
                                                                                {
                                                                                    "flow": [
                                                                                        {
                                                                                            "id": 33,
                                                                                            "module": "gateway:WebhookRespond",
                                                                                            "version": 1,
                                                                                            "parameters": {},
                                                                                            "filter": {
                                                                                                "name": "",
                                                                                                "conditions": [
                                                                                                    [
                                                                                                        {
                                                                                                            "a": "{{sum(countof(24.usedPackages; \"util\"); 40.result)}}",
                                                                                                            "b": "{{41.api_limit}}",
                                                                                                            "o": "number:greaterorequal"
                                                                                                        }
                                                                                                    ]
                                                                                                ]
                                                                                            },
                                                                                            "mapper": {
                                                                                                "body": "{\n\"error\": \"Too many moduels than requested module. \",\n\"current_api\": \"{{40.result}}\",\n\"app_name\": \"{{2.app_name}}\"\n}",
                                                                                                "status": "429",
                                                                                                "headers": []
                                                                                            },
                                                                                            "metadata": {
                                                                                                "designer": {
                                                                                                    "x": 3000,
                                                                                                    "y": 2100,
                                                                                                    "name": "Too Many request"
                                                                                                },
                                                                                                "restore": {
                                                                                                    "expect": {
                                                                                                        "headers": {
                                                                                                            "mode": "chose"
                                                                                                        }
                                                                                                    }
                                                                                                },
                                                                                                "expect": [
                                                                                                    {
                                                                                                        "name": "status",
                                                                                                        "type": "uinteger",
                                                                                                        "label": "Status",
                                                                                                        "required": true,
                                                                                                        "validate": {
                                                                                                            "min": 100
                                                                                                        }
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "body",
                                                                                                        "type": "any",
                                                                                                        "label": "Body"
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "headers",
                                                                                                        "spec": [
                                                                                                            {
                                                                                                                "name": "key",
                                                                                                                "type": "text",
                                                                                                                "label": "Key",
                                                                                                                "required": true,
                                                                                                                "validate": {
                                                                                                                    "max": 256
                                                                                                                }
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "value",
                                                                                                                "type": "text",
                                                                                                                "label": "Value",
                                                                                                                "required": true,
                                                                                                                "validate": {
                                                                                                                    "max": 4096
                                                                                                                }
                                                                                                            }
                                                                                                        ],
                                                                                                        "type": "array",
                                                                                                        "label": "Custom headers",
                                                                                                        "validate": {
                                                                                                            "maxItems": 16
                                                                                                        }
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        }
                                                                                    ]
                                                                                }
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 34,
                                                            "module": "gateway:WebhookRespond",
                                                            "version": 1,
                                                            "parameters": {},
                                                            "mapper": {
                                                                "body": "{\n\"error\": \"Too many moduels than allowed API limit, this scenario can not complete without any error. \",\n\"api_limit\": \"{{var.organization.netsuite_api}}\",\n\"app_name\": \"{{2.app_name}}\"\n}",
                                                                "status": "429",
                                                                "headers": []
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 1800,
                                                                    "y": 2400,
                                                                    "name": "Too Many Request"
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "headers": {
                                                                            "mode": "chose"
                                                                        }
                                                                    }
                                                                },
                                                                "expect": [
                                                                    {
                                                                        "name": "status",
                                                                        "type": "uinteger",
                                                                        "label": "Status",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "min": 100
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "body",
                                                                        "type": "any",
                                                                        "label": "Body"
                                                                    },
                                                                    {
                                                                        "name": "headers",
                                                                        "spec": [
                                                                            {
                                                                                "name": "key",
                                                                                "type": "text",
                                                                                "label": "Key",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 256
                                                                                }
                                                                            },
                                                                            {
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 4096
                                                                                }
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Custom headers",
                                                                        "validate": {
                                                                            "maxItems": 16
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 37,
                                            "module": "datastore:UpdateRecord",
                                            "version": 1,
                                            "parameters": {
                                                "datastore": 4290
                                            },
                                            "filter": {
                                                "name": "Unblock",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{2.status}}",
                                                            "b": "unblock",
                                                            "o": "text:equal:ci"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "key": "{{2.key_min}}",
                                                "data": {
                                                    "status": "unblock",
                                                    "app_name": "",
                                                    "app_count": "",
                                                    "timestamp": "",
                                                    "scenario_id": ""
                                                },
                                                "upsert": false,
                                                "overwriteArrays": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1200,
                                                    "y": 2700
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "upsert": {
                                                            "mode": "chose"
                                                        },
                                                        "overwriteArrays": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "datastore": {
                                                            "label": "App Limiter Model 2 "
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "datastore",
                                                        "type": "datastore",
                                                        "label": "Data store",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "upsert",
                                                        "type": "boolean",
                                                        "label": "Insert missing record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "overwriteArrays",
                                                        "type": "boolean",
                                                        "label": "Overwrite an existing array in the record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "data",
                                                        "spec": [
                                                            {
                                                                "name": "scenario_id",
                                                                "type": "number",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "status",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "app_name",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "app_count",
                                                                "type": "number",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "timestamp",
                                                                "type": "number",
                                                                "label": null
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.celonis.com"
    }
}